<h1>What's BUTSUYOKU!??</h1>
<h2>BUTSUYOKUは、欲しいものを記録することができるアプリケーションです。</h2>
<h2>欲しいもの・金額・買うタイミングを入力し、「欲しい！」ボタンを押してみてください！</h2>

<h1>作成経緯</h1>
<h2>RubyとRoRを学習するために、TODOリストを作成しようと思ったのがはじまりでした。</h2>
<h2>「普通のTODOリストじゃつまらないなぁ〜。どうせなら自分が使えるようなアプリケーションを作りたいなぁ〜。」</h2>
<h2>と思い、買いたいものをリスト化して記録できるいわば「TOBUY」リストとして、この「BUTSUYOKU」を作りました。</h2>

<h1>工夫した点</h1>
<ul class="kodawari">
  <li>購入したいものをテーブル（表）形式で、見やすく視覚化できる。</li>
  <li>期間（buy_month)を設定することで、計画的な購入予定を立てることができる。</li>
  <li>ransackを用いることで、期間検索をすることができる。</li>
</ul>

<h2>ゆっくりしていってね！</h2>
