<details><summary>What's BUTSUYOKU!??</summary>
<h2>BUTSUYOKUは、欲しいもの・金額・購入タイミングを連携させて、</h2>
<h2>記録することができるアプリケーションです。</h2>
<h2>欲しいもの・金額・買うタイミングを入力し、「欲しい！」ボタンを押してみてください！</h2>
</details>

<details><summary>作成経緯</summary>
<h2>作成を始めるに至ったきっかけは、RubyとRuby on Railsを学習する上で、「TODOリスト」を作ろうと思ったことがはじまりでした。</h2>
<h2>ちょうどその頃、欲しいもの（買いたいもの）がいくつかあった私は、iphoneのメモ帳に買いたいものと金額をメモっていたことを思い出し</h2>
<h2>「TODOリスト」と「買いたいものメモ」を一緒に作ればいいじゃん！と考え、この「BUTSUYOKU」を作成致しました。</h2>
</details>

<details><summary>開発してみた感想</summary>
<h2>初めて開発をしてみた感想としては、月並みですがまず第一に「楽しい！」という思いがありました。</h2>
<h2></h2>
<h2>意識した点としては、「無駄に機能を増やさないこと」です。</h2>
<h2>主な機能は下記、『工夫した点』において記載しておりますが、それ以外の機能は全くありません笑</h2>
<h2>ダラダラと作成したくなかったので、できるだけ最低限の内容で素早く作成することを意識しました。</h2>

</details>

<details><summary>工夫した点</summary>
<h2>1. 購入したいものをテーブル（表）形式で、見やすく視覚化できる。</h2>
<h2>2. 期間（buy_month)を設定することで、購入予定を計画的に立てることができる。</h2>
<h2>3. ransackを用いた期間検索機能。</h2>
</details>

