<details><summary>What's BUTSUYOKU!??</summary>
<h2>BUTSUYOKUは、欲しいもの・金額・購入タイミングを連携させて、</h2>
<h2>記録することができるアプリケーションです。</h2>
<h2>欲しいもの・金額・買うタイミングを入力し、「欲しい！」ボタンを押してみてください！</h2>
</details>

<details><summary>開発経緯</summary>
<h2>開発を始めるに至ったきっかけは、RubyとRuby on Railsを学習する上で、「TODOリスト」を作成しようと思ったことがはじまりでした。</h2>
<h2>「普通のTODOリストじゃつまらないなぁ〜。どうせなら自分が使えるようなアプリケーションを作りたいなぁ〜。」</h2>
<h2>と思い、買いたいものをリスト化して記録できるいわば「TOBUY」リストとして、この「BUTSUYOKU」を作りました。</h2>
</details>

<details><summary>開発してみた感想</summary>
<h2>初めて開発をしてみた感想としては、月並みですがまず第一に「楽しい！」という思いがありました。</h2>
<h2>意識した点としては、「無駄に機能を増やさないこと」です。</h2>
<h2>主な機能は下記、工夫した点において記載しておりますが、それ以外の機能は全くありません笑</h2>
<h2>アプリ体験者からしたら、「・・・え？これだけ・・・？」という反応をされるかと思いますが、</h2>
<h2>これ以上増やすと工期がダラダラと長引いてしまい、「結局何が強みで、どんなコンセプトで作ったの？」</h2>
<h2>というお話がしにくく
</details>

<details><summary>工夫した点</summary>
<h2>1. 購入したいものをテーブル（表）形式で、見やすく視覚化できる。</h2>
<h2>2. 期間（buy_month)を設定することで、購入予定を計画的に立てることができる。</h2>
<h2>3. ransackを用いた期間検索機能。</h2>
</details>

