<%= provide(:title, "ホーム") %>
<title><%= yield(:title) %> | BUTSUYOKU</title>
<h1>Welcome to BUTSUYOKU!</h1>
<h2>BUTSUYOKUは、欲しいもの・金額・購入タイミングを連携させて、</h2>
<h2>記録することができるアプリケーションです。</h2>
<h2>自分のBUTSUYOKUを可視化してみよう！</h2>
<% if current_user %>
  <h2><%= link_to "さっそくBUTSUYOKU登録！", new_item_path, class:"btn btn-primary" %></h2>
<% else %>
  <h2><%= link_to "まずはアカウント登録！", signup_path, class:"btn btn-primary", method: :get %></h2>
<% end %>

