@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 全体 */

body {
    padding-top: 50px;
    background-color: lightyellow;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/*--------------
    レイアウト
---------------*/
.wrapper {
    padding-top: 73px;
}

/*------------
    header
--------------*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: yellowgreen;
    box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}

.header .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 20px;
    letter-spacing: .05em;
}

.header-logo a {
    color: white;
}

.gnav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.gnav-item:not(:last-child) {
    margin-right: 20px;
}

.menu {
    color: white;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color:white;
}

.gnav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color:white;
}

.gnav-item a:after {
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
}

.gnav-item a:hover:after {
    width: 100%;
}


.dentaku_logo{
    text-align: left;
    width: 10px;
}

/*------------
    footer
-------------*/
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    text-align: center;
}

/* new_forms */

input, textarea, select .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

/*-----------
    about
------------*/

.kodawari {
    list-style: none;
    color: gray;
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}


/*-----------
    index
------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr {
    border-bottom: solid 1px #eee;
    border-color: yellowgreen;
}

table tr:hover {
    background-color: #d4f0fd;
}

table th, table td {
    text-align: center;
    width: 25%;
    padding: 15px 0s;
}

.edit_button {
    padding: 20px;
}

.sumprice {
    text-align: center;
    padding: 10px 0;
}

.sumprice span {
    font-size: 40px;
    border-bottom: 1px solid black;
}

.input_search {
    display: flex;
    justify-content: center;
    padding: 0;
    @include box_sizing;
    padding: 0;
}

/*----------
    show
-----------*/

section {
    text-align: center;
}


/*-----------
    search
 ---------- */

