@import "bootstrap-sprockets";
@import "bootstrap";

/* 全体 */ 
.BUTSUYOKU {
    color: black;
    font-family: arial black;
    font-size: 300%;
}

.YOKUBO {
    color: black;
    font-size: 20px;
    font-family: arial black;
}

.YOKUBO2 {
    color: white;
    font-size: 20px;
    font-family: arial black;
}

.header {
    li {
        list-style: none;
    }
}
/* new_forms */ 

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}


/* index */ 

li{
    list-style: none;
}