<footer>
    <small>Created by Yo Kamada</small>
    <div class="card"><a href="https://zenn.dev/yokamada_dev">Zenn</a></div>
    <div class="card"><a href="https://qiita.com/bumpfuji10">Qiita</a></div>
    <div class="card"><a href="https://twitter.com/heyyobackend">Twitter</a></div>
    <div class="card"><a href="https://github.com/bumpfuji10">GitHub</a><div>
</footer>


